.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.upd-corlor{
  background-color: #fb8e8e !important
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fontSize_10 {
  font-size: 10px;
}

.fontSize_13 {
  font-size: 13px;
}

.fontSize_14 {
  font-size: 14px;
}

.width_10 {
  width : 10px;
}

.width_15 {
  width : 15px;
}

.width_20 {
  width : 20px;
}

.width_25 {
  width : 25px;
}

.width_75 {
  width : 75px;
}